
html, 
body{
	font-family: arial, sans-serif;
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.canvasWrap{
	width: 1200px;
	height: 800px;
	float: left;
}

#svgMap, 
#mask{
	position: absolute;
	width: 1200px;
	height: 800px;
}

#mask{
	width: 1180px;
	height: 780px;
}

/* ------------------------- */
/* ------------------------- */

.controlPanel{
	position: absolute;
	right: 0;
	background-color: rgba(0,0,0,0.8);
	color: #CCC;
	padding: 5px;
	width: 180px;
	min-height: 800px;
}

legend{
	width: 100%;
}

.mouseMode{
	border: 1px solid #888;
	margin-bottom: 1em;
}

.mouseMode > *{
	float: left;
	line-height: 20px;
}

.mouseMode input{
	clear: left;
}

.controlPanel input{
	margin-bottom: 1em;
}

.checkLabel:hover{
	color: lightblue;
	cursor: pointer;
}

.controlPanel a{
	color: white;
}

#spawnNotify{
	background-image: url(/images/LoadingSpinner.gif);
	background-repeat: no-repeat;
	padding-left: 22px;
	visibility: hidden;

}
#spawnNotify.active{
	visibility: visible;
}
