
html, 
body{
	font-family: arial, sans-serif;
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.canvasWrap{
	width: 1200px;
	height: 800px;
	float: left;
}

#svgMap, 
#mask{
	position: absolute;
	width: 1200px;
	height: 800px;
}

#mask{
	width: 1180px;
	height: 780px;
}




/** Controll panel ------------------------ */

.controlPanel{
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
	color: #CCC;
	padding: 5px;
	width: 180px;
	min-height: 800px;
}

fieldset{
	margin-bottom: 10px;
	border: 1px solid #888;
}

legend{
	font-size: 1.1em;
	font-weight: normal;
}

.controlPanel input{
	margin-bottom: 5px;
}

.controlPanel a{
	color: white;
}

.mouseMode{

}

.mouseMode > label,
.mouseMode > input{
	float: left;
}

.mouseMode > label{
	line-height: 20px;
}

.mouseMode input{
	clear: left;
}




/* Hovers -------------------------------- */

.checkLabel:hover,
a:hover{
	color: lightblue;
	cursor: pointer;
}

button:hover,
input[type=button]:hover{
	background-color: lightblue;
	cursor: pointer;
}




/** Actions field ------------------------ */

.actionsField button,
.actionsField input{
	width: 100%;
	margin-bottom: 5px;
}

.actionsField :last-child{
	margin-bottom: 0;
}

#btnSpawnStartStop i,
#btnSpawnStartStop.active i{
	display: block;
	background-image: url(/images/LoadingSpinner.gif);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 4px;
	float: left;

	visibility: hidden;	
}

#btnSpawnStartStop.active i{
	visibility: visible;
}




/** Render field ------------------------ */

.renderField th{
	font-weight: normal;
	text-align: left;
}

.renderField input{
	font-size: 0.9em;
}



/* Maps --------------------------------- */

ul li a{
	display: inline-block;
	padding: 2px;
}
