<IfModule mod_rewrite.c>
  RewriteEngine on
  #
  # To redirect all users to access the site WITHOUT the 'www.' prefix,
  # (http://www.example.com/... will be redirected to http://example.com/...)
  # uncomment and adapt the following:


  # Rewrite URLs of the form 'x' to the form 'rewrite.php?q=x'.
  RewriteCond %{REQUEST_URI} mapphp.svg [NC]
  RewriteRule ^(.*)$ map.php?r=$1 [L,QSA]

</IfModule>

<ifModule mod_headers.c>

  <filesMatch "mapphp\.svg$">
    Header unset Content-Type
    Header unset X-Powered-By
    Header unset Server
  </filesMatch>
 
</ifModule>