
# Ignore environment config file
.env

# Ignore log files but not the logs folder
logs/*
!logs/README.md

public_html/phDump/*

test.php

# Ignore composer package folder
vendor

# Ignore PHPStorm project file
.idea
